{% load widget_tweaks %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Multi Step Registration Form Using JQuery Bootstrap in PHP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <style>
  .box
  {
   width:800px;
   margin:0 auto;
  }
  .active_tab1
  {
   background-color:#fff;
   color:#333;
   font-weight: 600;
  }
  .inactive_tab1
  {
   background-color: #f5f5f5;
   color: #333;
   cursor: not-allowed;
  }
  .has-error
  {
   border-color:#cc0000;
   background-color:#ffff99;
  }
  </style>
 </head>
 <body>
 <br />
  <div class="container box card">
   <br />

   <form method="post" id="register_form">
    <ul class="nav nav-tabs">
     <li class="nav-item">
      <a class="nav-link active_tab1" style="border:1px solid #ccc" id="list_login_details">Personal Details</a>
     </li>
     <li class="nav-item">
      <a class="nav-link inactive_tab1" id="list_personal_details" style="border:1px solid #ccc">Experience Details</a>
     </li>
     <li class="nav-item">
      <a class="nav-link inactive_tab1" id="list_contact_details" style="border:1px solid #ccc">Course Categories</a>
     </li>
      <li class="nav-item">
      <a class="nav-link inactive_tab1" id="list_contact_details" style="border:1px solid #ccc">Ask Your Questions</a>
     </li>
    </ul>
    <div class="tab-content" style="margin-top:16px;">
     <div class="tab-pane active" id="login_details">
      <div class="panel panel-default">
       <div class="panel-heading bg-dark">Personal Details</div>
       <div class="panel-body">
       <div class="form-group row">
        <div class="form-group col-md-6">
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name"/>
         <span id="error_first_name" class="text-danger"></span>
        </div>

         <div class="form-group col-md-6">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name"/>
         <span id="error_last_name" class="text-danger"></span>
        </div>
        </div>
        <div class="form-group">
         
         <input type="email" name="email" id="email" class="form-control" placeholder="Email"/>
         <span id="error_email" class="text-danger"></span>
        </div>
         <div class="form-group row">
    
        <div class="form-group col-md-6">
    
         <input type="password" name="password1" id="password" class="form-control" placeholder="password"/>
         <span id="error_password" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
    
         <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm password"/>
         <span id="error_password_confirm" class="text-danger"></span>
        </div>
        </div>


    <div class="form-group">
         <input type="text" name="mobile_no" id="mobile_no" class="form-control" placeholder="Phone Number" />
         <span id="error_mobile_no" class="text-danger"></span>
    </div>


        <div class="form-group text-center">
         <label>Gender</label>
         <label class="radio-inline">
          <input type="radio" name="gender" value="male" checked> Male
         </label>
         <label class="radio-inline">
          <input type="radio" name="gender" value="female"> Female
         </label>
        </div>


        <br />
        <div align="center">
         <button type="button" name="btn_login_details" id="btn_login_details" class="btn btn-info btn-lg">Next</button>
        </div>
        <br />
       </div>
      </div>
     </div>
     <div class="tab-pane fade" id="personal_details">
      <div class="panel panel-default">
       <div class="panel-heading">Experience Details</div>
       <div class="panel-body">

                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label text-left" for="customFile">Upload Profile</label>
                            <input type="file" class="custom-file-input form-control" name="userprofile" id="customFile" title="Attach resume in doc/pdf format" accept=".pdf,.doc" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <input type="url" id="linkedinurl" class="form-control frm-control-sm" name="linkedinprofile" placeholder="Linkedin Profile Link" pattern="^http(s)?:\/\/(www\.)?linkedin\.com\/in\/.*$" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="url" id="websiteurl" class="form-control mb-2" name="blogurl" placeholder="Website Url (if any)" pattern="^http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                    </div>

                    <div class="form-group">
                        <input type="url" id="channel" class="form-control mb-2" name="youtubechannel" placeholder="Youtube Channel Link (if any)" pattern="^https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$">
                    </div>

                    <div class="form-group">
                        <select class="browser-default custom-select mb-2" id="selectr" required>
                            <option value="" disabled="" selected="">Relevant Experience</option>
                            <option value="1">3-6 yrs</option>
                            <option value="2">6-10 yrs</option>
                            <option value="3">10+ yrs</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="browser-default custom-select mb-2" id="selectt" required>
                            <option value="" disabled="" selected="">Total Experience</option>
                            <option value="1">3-6 yrs</option>
                            <option value="2">6-10 yrs</option>
                            <option value="3">10+ yrs</option>
                        </select>
                    </div>






        
        <br />
        <div align="center">
         <button type="button" name="previous_btn_personal_details" id="previous_btn_personal_details" class="btn btn-default btn-lg">Previous</button>
         <button type="button" name="btn_personal_details" id="btn_personal_details" class="btn btn-info btn-lg">Next</button>
        </div>
        <br />
       </div>
      </div>
     </div>
     <div class="tab-pane fade" id="contact_details">
      <div class="panel panel-default">
       <div class="panel-heading">Select Your Intrest</div>
       <div class="panel-body">


       <div class="form-group">
                        <select class="selectpicker" multiple title="Choose Your Course" name="course" id="choose-category" data-live-search="true">
                            <optgroup label="Business">
                                <option value="Human Resources">Human Resources</option>
                                <option value="Finance and Accounting">Finance and Accounting</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Digital Marketing">Digital Marketing</option>
                                <option value="Trading">Trading</option>
                            </optgroup>
                            <optgroup label="It and Software">
                                <option value="Web Development">Web Development</option>
                                <option value="Mobile Development">Mobile Development</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Programming Languages">Programming Languages</option>
                                <option value="Database Tools">Database Tools</option>
                            </optgroup>
                            <optgroup label="Office Tools">
                                <option value="Advance Tools">Advance Tools</option>
                                <option value="CAD/CAM">CAD/CAM</option>
                                <option value="Tally">Tally</option>
                            </optgroup>
                            <optgroup label="Creative Tools">
                                <option value="Photography">Photography</option>
                                <option value="Vediography">Vediography</option>
                                <option value="Web/ Visual/ Game Design">Web/ Visual/ Game Design</option>
                                <option value="Musical Instruments">Musical Instruments</option>
                                <option value="Vocal">Vocal</option>
                                <option value="Dance">Dance</option>
                                <option value="Doodling">Doodling</option>
                                <option value="DIY/ LI">DIY/ LI</option>
                                <option value="Content Writing">Content Writing</option>
                            </optgroup>
                            <optgroup label="Personality Development">
                                <option value="NLP">NLP</option>
                                <option value="Personal Finance">Personal Finance</option>
                                <option value="Stress Management">Stress Management</option>
                                <option value="Cope Up VUCA World">Cope Up VUCA World</option>
                                <option value="Languages">Languages</option>
                                <option value="Business Communication">Business Communication</option>
                            </optgroup>
                            <optgroup label="Solopreneurship">
                                <option value="SetUp Solopreneurship">SetUp Solopreneurship</option>
                                <option value="Personal Branding">Personal Branding</option>
                                <option value="Blog Writing">Blog Writing</option>
                                <option value="Wordpress/ Website">Wordpress/ Website</option>
                                <option value="Digital Marketing">Digital Marketing</option>
                            </optgroup>
                        </select>
                    </div>
        <div class="form-group">
         <label>Enter Address</label>
         <textarea name="address" id="address" class="form-control"></textarea>
         <span id="error_address" class="text-danger"></span>
        </div>
        
        <br />
        <div align="center">
         <button type="button" name="previous_btn_contact_details" id="previous_btn_contact_details" class="btn btn-default btn-lg">Previous</button>
         <button type="button" name="btn_contact_details" id="btn_contact_details" class="btn btn-success btn-lg">Register</button>
        </div>
        <br />
       </div>
      </div>
     </div>
    </div>
   </form>
  </div>
 </body>
</html>

<script>
$(document).ready(function(){
 
 $('#btn_login_details').click(function(){
  
  var error_email = '';
  var error_password = '';
  var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  
  if($.trim($('#email').val()).length == 0)
  {
   error_email = 'Email is required';
   $('#error_email').text(error_email);
   $('#email').addClass('has-error');
  }
  else
  {
   if (!filter.test($('#email').val()))
   {
    error_email = 'Invalid Email';
    $('#error_email').text(error_email);
    $('#email').addClass('has-error');
   }
   else
   {
    error_email = '';
    $('#error_email').text(error_email);
    $('#email').removeClass('has-error');
   }
  }
  
  if($.trim($('#password').val()).length == 0)
  {
   error_password = 'Password is required';

   $('#error_password').text(error_password);
    
   $('#password').addClass('has-error');
    
  }
  else
  {
   error_password = '';
   
   $('#error_password').text(error_password);
   
   $('#password').removeClass('has-error');
   
  }

  if( $.trim($('#password2').val()).length == 0)
  {
   error_password_confirm='Confirm passowrd is required';
    $('#error_password_confirm').text(error_password_confirm);
    $('#password2').addClass('has-error');
  }
  else
  {
   error_password_confirm='';
   
   $('#error_password_confirm').text(error_password_confirm);
  
   $('#password2').removeClass('has-error');
  }

 var error_first_name = '';
  var error_last_name = '';
  
  if($.trim($('#first_name').val()).length == 0)
  {
   error_first_name = 'First Name is required';
   $('#error_first_name').text(error_first_name);
   $('#first_name').addClass('has-error');
  }
  else
  {
   error_first_name = '';
   $('#error_first_name').text(error_first_name);
   $('#first_name').removeClass('has-error');
  }
  
  if($.trim($('#last_name').val()).length == 0)
  {
   error_last_name = 'Last Name is required';
   $('#error_last_name').text(error_last_name);
   $('#last_name').addClass('has-error');
  }
  else
  {
   error_last_name = '';
   $('#error_last_name').text(error_last_name);
   $('#last_name').removeClass('has-error');
  }
  var error_mobile_no = '';
  var mobile_validation = /^\d{10}$/;

  if($.trim($('#mobile_no').val()).length == 0)
  {
   error_mobile_no = 'Mobile Number is required';
   $('#error_mobile_no').text(error_mobile_no);
   $('#mobile_no').addClass('has-error');
  }
  else
  {
   if (!mobile_validation.test($('#mobile_no').val()))
   {
    error_mobile_no = 'Invalid Mobile Number';
    $('#error_mobile_no').text(error_mobile_no);
    $('#mobile_no').addClass('has-error');
   }
   else
   {
    error_mobile_no = '';
    $('#error_mobile_no').text(error_mobile_no);
    $('#mobile_no').removeClass('has-error');
   }
  }



  if(error_email != '' || error_password != '' || error_first_name != '' || error_last_name != '' || error_password_confirm != ''||error_mobile_no!='')
  {
   return false;
  }
  else
  {
   $('#list_login_details').removeClass('active active_tab1');
   $('#list_login_details').removeAttr('href data-toggle');
   $('#login_details').removeClass('active');
   $('#list_login_details').addClass('inactive_tab1');
   $('#list_personal_details').removeClass('inactive_tab1');
   $('#list_personal_details').addClass('active_tab1 active');
   $('#list_personal_details').attr('href', '#personal_details');
   $('#list_personal_details').attr('data-toggle', 'tab');
   $('#personal_details').addClass('active in');
  }
 });
 
 $('#previous_btn_personal_details').click(function(){
  $('#list_personal_details').removeClass('active active_tab1');
  $('#list_personal_details').removeAttr('href data-toggle');
  $('#personal_details').removeClass('active in');
  $('#list_personal_details').addClass('inactive_tab1');
  $('#list_login_details').removeClass('inactive_tab1');
  $('#list_login_details').addClass('active_tab1 active');
  $('#list_login_details').attr('href', '#login_details');
  $('#list_login_details').attr('data-toggle', 'tab');
  $('#login_details').addClass('active in');
 });
 
 $('#btn_personal_details').click(function(){
 
 var flag=1;

 if($.trim($('#customFile').val()).length == 0)
    flag=0;
if($.trim($('#linkedinurl').val()).length == 0)
    flag=0;
if($.trim($('#websiteurl').val()).length == 0)
    flag=0;
if($.trim($('#channel').val()).length == 0)
    flag=0;
if($.trim($('#selectr').val()).length == 0)
    flag=0;
if($.trim($('#selectt').val()).length == 0)
    flag=0;

  if(flag==0)
  {
   return false;
  }
  else
  {
   $('#list_personal_details').removeClass('active active_tab1');
   $('#list_personal_details').removeAttr('href data-toggle');
   $('#personal_details').removeClass('active');
   $('#list_personal_details').addClass('inactive_tab1');
   $('#list_contact_details').removeClass('inactive_tab1');
   $('#list_contact_details').addClass('active_tab1 active');
   $('#list_contact_details').attr('href', '#contact_details');
   $('#list_contact_details').attr('data-toggle', 'tab');
   $('#contact_details').addClass('active in');
  }
 });
 
 $('#previous_btn_contact_details').click(function(){
  $('#list_contact_details').removeClass('active active_tab1');
  $('#list_contact_details').removeAttr('href data-toggle');
  $('#contact_details').removeClass('active in');
  $('#list_contact_details').addClass('inactive_tab1');
  $('#list_personal_details').removeClass('inactive_tab1');
  $('#list_personal_details').addClass('active_tab1 active');
  $('#list_personal_details').attr('href', '#personal_details');
  $('#list_personal_details').attr('data-toggle', 'tab');
  $('#personal_details').addClass('active in');
 });
 
 $('#btn_contact_details').click(function(){
  var error_address = '';
  var error_mobile_no = '';
  var mobile_validation = /^\d{10}$/;
  if($.trim($('#address').val()).length == 0)
  {
   error_address = 'Address is required';
   $('#error_address').text(error_address);
   $('#address').addClass('has-error');
  }
  else
  {
   error_address = '';
   $('#error_address').text(error_address);
   $('#address').removeClass('has-error');
  }
  
  
  if(error_address != '' || error_mobile_no != '')
  {
   return false;
  }
  else
  {
   $('#btn_contact_details').attr("disabled", "disabled");
   $(document).css('cursor', 'prgress');
   $("#register_form").submit();
  }
  
 });
 
});
















// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='registration']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      firstname: "required",
      lastname: "required",
      email: {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true
      },
      password: {
        required: true,
        minlength: 5
      }
    },
    // Specify validation error messages
    messages: {
      firstname: "Please enter your firstname",
      lastname: "Please enter your lastname",
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      email: "Please enter a valid email address"
    },
    
  });
});


Resources1×




</script>







