<!DOCTYPE html>
<html>
{% load static %}
<head>
 <title> facilitator</title>
 <meta charset="UTF-8">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<style>
  body {
    margin: 0px;
    padding: 0px;
  }
  form{
      position: relative;
  }
  .card, .card-header{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 10px;
  }
  .card {
    box-shadow: 0 2px 25px rgba(110, 130, 208, 0.18);
  }
  .card-body{
    background: #e8eeff;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
  .btn-link{
    width: 100%;
    height: 45px;
    color: #000;
    font-weight: bold;
    text-align: left;
  }
  .btn-link:after{
    content: '\2212';
    width: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #e8eeff
  }
  .btn-link.collapsed:after{
    content: '\002B';
  }
.form-bottom {
    transition: all .4s ease-in-out;
}

form.registration-form fieldset {
    display: none;
} 
/* 
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}
*/
@media all and (max-width: 768px) {
    #passtext{
        font-size: 5px;
    }
    fieldset{
      font-size: 0.5rem;
    }
}
</style>
<body>
<div class="container" style="height: 33vh;">
            <!-- <ul id="progressbar">
              <li class="active">General Information</li>
              <li>TRIP Information</li>
               <li>Physical and Financial Status</li>
               <li>Submit</li>
            </ul> -->
</div>
<div class="assessment-container container-fluid">
        
            <div class="col-md-6 offset-3 form-box">
                <form role="form" name="reg-form" class="registration-form" id="regform" action="">
                    <!--
                    <ul id="progressbar">
                        <li class="active">Personal Details</li>
                        <li>Social Profiles</li>
                        <li>Account Setup</li>
                        <li>Questions</li>
                    </ul>
                    -->
                    {% csrf_token %}
                    <fieldset style="padding-left: 2rem; padding-right: 2rem;">
                        <div class="form-top">
                            <div class="form-top">
                                <h2 style="margin: 0px;">Personal Details</h2>
                                <h5 style="font-size: 15px; color: #bdbdbd;">Fill Your Personal Details</h5>
                            </div>
                        </div>
                        <div class="form-bottom mb-2">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Full Name" id="fname" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" placeholder="Enter Email" required>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="row" style="max-height: 3rem;">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <input type="password" name="password" data-toggle="password" id="password-field" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" placeholder="Password" minlength="8" maxlength="15" data-error="Password should have minimum 8 characters" required> 
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <small id="passtext" class="form-text text-muted mb-2" data-toggle="tooltip" style="font-size: x-small;">Password should have 8 to 10 characters</small>
                                        </div>
                                    <div class="form-group col-md-6">
                                        <input type="tel" class="form-control" name="mobilenumber" placeholder="Contact Number" id="contact_number" pattern="^\d{10}$" minlength="10" maxlength="15" required>
                                    </div>
                                </div>
                            </div>

                            <!-- adding input tag for button -->
                            <button type="button" class="btn btn-primary btn-next" style="border-radius: 2rem;">Continue <i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </fieldset>

                    <!-- Second fieldset -->

                    <fieldset style="padding-left: 2rem; padding-right: 2rem;">
                        <div class="form-top">
                            <div class="form-top">
                                <h2 style="margin: 0px;">Experience</h2>
                                <h5 style="font-size: 15px; color: #bdbdbd;">Enter Your Experience</h5>
                            </div>
                        </div>
                        <div class="form-bottom mb-2">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="input-group mb-2">
                                    <div class="custom-file">
                                        <label class="custom-file-label" for="customFile">Upload Profile</label>
                                        <input type="file" class="custom-file-input" id="customFile" title="Attach resume in doc/pdf format" accept=".pdf,.doc" required>
                                        <!-- <input type="file" id="myFile" name="filename2"> -->
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- <label for="textInput">Linkedin URL</label> -->
                                    <input type="url" id="linkedinurl" class="form-control mb-2" placeholder="Linkedin Profile Link" pattern="^http(s)?:\/\/(www\.)?linkedin\.com\/in\/.*$" required="required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input type="url" id="websiteurl" class="form-control mb-2" placeholder="Website Url (if any)" pattern="^http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                                </div>
                                <div class="col-md-6">
                                    <input type="url" id="channel" class="form-control mb-2" placeholder="Youtube Channel Link (if any)" pattern="^https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                <!-- <label for="select">Relevant Experience</label> -->
                                <select class="browser-default custom-select mb-2" id="select" required>
                                    <option value="" disabled="" selected="">Relevant Experience</option>
                                    <option value="1">3-6 yrs</option>
                                    <option value="2">6-10 yrs</option>
                                    <option value="3">10+ yrs</option>
                                </select>
                                </div>
                                <div class="col-md-6">
                                <!-- <label for="select">Total Expirence</label> -->
                                <select class="browser-default custom-select mb-2" id="select_1" required>
                                    <option value="" disabled="" selected="">Total Expirence</option>
                                    <option value="1">3-6 yrs</option>
                                    <option value="2">6-10 yrs</option>
                                    <option value="3">10+ yrs</option>
                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <button type="button" class="btn btn-primary btn-previous" style="border-radius: 2rem;"><i class="fas fa-arrow-alt-circle-left"></i> Previous</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-next" style="border-radius: 2rem;">Continue <i class="fas fa-arrow-alt-circle-right"></i></button> 
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Third fieldset -->

                    <fieldset style="padding-left: 2rem; padding-right: 2rem;">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h2 style="margin: 0px;">Course Categories</h2>
                                <h5 style="font-size: 15px; color: #bdbdbd;">Choose Your Preffered Courses</h5>
                            </div>
                        </div>
                        <div class="form-bottom mb-2">
                            <button type="button" class="btn btn-block btn-outline-secondary mb-2" data-toggle="modal" data-target="#exampleModal">
                                Course Categories
                            </button>
                            <div class="row">
                                <div class="col-md-6 text-right">
                                   <button type="button" class="btn btn-primary btn-previous" style="border-radius: 2rem;"><i class="fas fa-arrow-alt-circle-left"></i> Previous</button> 
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-next" style="border-radius: 2rem;">Continue <i class="fas fa-arrow-alt-circle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Fourth fieldset -->

                    <fieldset style="padding-left: 2rem; padding-right: 2rem;">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h2 style="margin: 0px;">Ask Your Question</h2>
                                <h5 style="font-size: 15px; color: #bdbdbd;">You can ask your doubts/questions</h5>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <textarea id="textarea" class="form-control mb-2" placeholder="Type in your Question" style="width: 20rem; height: 4rem; border-radius: 1.5rem;"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <button type="button" class="btn btn-primary btn-previous" style="border-radius: 2rem;"><i class="fas fa-arrow-alt-circle-left"></i> Previous</button>
                                </div>
                                <div class="col-md-4 text-left">
                                    <button type="submit" class="btn btn-success" style="border-radius: 2rem;">Submit <i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        

        <!-- Modal Forms -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Course Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="accordion">
        <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
              <i class="fas fa-briefcase"></i>  Business
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body" style="font-size: 13px;">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Human Resources
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Finance and Accounting
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Marketing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Digital Marketing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check5">
              <label class="form-check-label" for="Check5">
                Trading
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class='fas fa-laptop'></i>  IT and Software
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Web Development
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Mobile Development
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Data Science
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Programming Languages
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check5">
              <label class="form-check-label" for="Check5">
                Database Tools
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fab fa-microsoft"></i>  Office tools
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Advance Tools
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                CAD/CAM
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Tally
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fas fa-magic"></i>  Creative tools
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Photography
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Vediography
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Web/ Visual/ Game Design
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Musical Instruments
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check5">
              <label class="form-check-label" for="Check5">
                Vocal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Dance
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Doodling
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                DIY/ LI
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Content Writing
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fas fa-street-view"></i>  Personality Development
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                NLP
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Personal Finance
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Stress Management
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Cope Up VUCA World
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check5">
              <label class="form-check-label" for="Check5">
                Languages
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                Business Communication
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fas fa-user-alt"></i>  Solopreneurship
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check1">
              <label class="form-check-label" for="Check1">
                SetUp Solopreneurship
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2">
              <label class="form-check-label" for="Check2">
                Personal Branding
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check3">
              <label class="form-check-label" for="Check3">
                Blog Writing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check4">
              <label class="form-check-label" for="Check4">
                Wordpress/ Website
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check5">
              <label class="form-check-label" for="Check5">
                Digital Marketing
              </label>
            </div>

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fas fa-hand-holding-usd"></i>  Entrepreneurship
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
              <i class="fab fa-linkedin"></i>  Social Media
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

          </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none;">
              <i class="fas fa-heartbeat"></i>  Health & Fitness
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion" style="font-size: 13px;">
          <div class="card-body">

          </div>
        </div>
        </div>
        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>

        </div>
  </div>
<script src="{% static 'facilitators/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
$(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
});


$(document).ready(function () {
    $('.registration-form fieldset:first-child').fadeIn();
    
    $('.registration-form input[type="text"] input[type="password"]').on('focus', function () {
        $(this).removeClass('input-error');
    }); 

    // next step
    $('.registration-form .btn-next').on('click', function () {
        var parent_fieldset = $(this).parents('fieldset');
        var next_step = true;

        parent_fieldset.find('input[type="text"],input[type="tel"],input[type="email"],input[type="password"],input[type="file"]').each(function () {
            if ($(this).val() === "") {
                $(this).addClass('input-error');
                next_step = false;
            } else {
                $(this).removeClass('input-error');
            }
        });

        if (next_step) {
            parent_fieldset.fadeOut(400, function () {
              
                $(this).next().fadeIn();
            });
        }  else {
            alert("Please fill your details in specified format");
        }
    });

    // previous step
    $('.registration-form .btn-previous').on('click', function () {
        $(this).parents('fieldset').fadeOut(400, function () {
            $(this).prev().fadeIn();
        });
    });

    // submit
    $('.registration-form').on('submit', function (e) {

        $(this).find('input[type="text"],input[type="email"]').each(function () {
            if ($(this).val() === "") {
                e.preventDefault();
                $(this).addClass('input-error');
            } else {
                $(this).removeClass('input-error');
            }
        });

    });
});   

/* end of script*/
</script>
</body>
</html>
