<!DOCTYPE html>
{% load socialaccount %}
<html>
{% load static %}

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.theme.default.min.css' %}">
    <style>
    body,html {
        margin: 0;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;
        font-family: Raleway;
    }
    .item{
        background-color: white;
        min-height: 250px;

        border-radius: 10px;
        border:2px solid black;
    }
    .label{
        color: white;
    }
    .head{
        color: black;
    }
    .signup-form form{

        width:100%;
        background-color: #f1f2f6;
        border-radius: 3px;
        margin-bottom: 15px;

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form .hint {
        color: black;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .slider-area{
        margin:0;
    }
    .carousel-control.left, .carousel-control.right{
        background: transparent;
    } 
    .img-area{
        margin: auto;
        overflow: hidden;
        align-items: center;
    }
    .img-area img{
        height: 400px;
        width: 500px;
    }
    .carousel-caption{
        position: static;
        padding-bottom: 15px;
        padding-top: 0;
    }
    .carousel-caption h4{
        font-size: 20px;
    }
    #navbar-left a{
        text-decoration: none;
        color: #ababab;
    }
    #navbar-left a:hover{
        color: black;
    }
    #navbar-left button{
        color: white;
    }
    footer{
        background: #eeeeee; 
        color:#757575;
        font-size: 13px;
        line-height: 1.2
    }
    footer h6{
        color: #9e9e9e;
    }
    footer a{
        color: black;
    }
    footer a:link{
        text-decoration: none;
    }
    footer a:hover{
        color: #757575;
    }
    footer #social i{
        color: black;
        font-size: 1.2rem;
    }
    footer #social i:hover{
        color: #3db166;
    }
    @media (max-width: 768px) {
        #navbar-left{
            display: block;
        }
        #first {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 12px;
        }
        .container-fluid{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .section-a img{
            padding: 0;
        }
        footer{
            font-size: 7.2px;    
        }
    }
    @media (max-width: 990px){
        #navbar-left{
            display: block;
        }
        #navbar-left form{
            display: none;
        }
        .section-a{
            margin-bottom: 32px;
        }
        .section-a img{
            margin: 32px;
        }
        .section-a #section-a-learn h2,h3{
            font-size: 31px;
        }
        .section-a #section-a-learn h4{
            font-size: 15px;
        }
        #query{
            margin-left: 11em;
        }
        #query_request{
            text-align: center !important;
        } 
        footer{
            font-size: 7.2px;    
        }
    }
    @media (max-width: 375px){
        #query{
            margin-left: 0 !important; 
        }
    }
    @media all and (max-width: 765px){
        footer{
            font-size: 1rem;
        }
        #query{
            margin-left: 1.5em;
        }
        #footer-left{
            padding-left: 3em;
            text-align: left;
        }
    }
    @media only screen and (max-width: 1000px){
        #logo{
            margin-left:10px!important;
        }
    }

    @media only screen and (max-width: 1080px){
        #request{
            align-items: center;
            justify-content: center;
            text-align:center;
        }
    }

    </style>
</head>

<body>
 
    <figure class="figure" style="margin: 11px;">
        <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;">
        <figcaption class="figure-caption text-center">LearnOpad</figcaption>
    </figure>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0e0e0;">
        <a class="navbar-brand" href="/home"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampl">
                    Free Content
                    </a>
                </li>
            </ul>

            <ul class="nav justify-content-end text-sm-left" id="navbar-left">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        {% csrf_token %}
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn my-sm-0" type="submit" style="color: black;s"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <p>Welcome, {{ user.username }} !</p>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal" style="padding-left: 0;">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="btn btn-primary rounded" style="color: white">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-size: 13px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><strong>SiGN IN</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <a  href="{% provider_login_url 'google' %}" class="btn btn-light border border-light ml-2 mt-1" style="font-size: 10px;"><img src="{% static 'LandingPage/img/google.svg' %}" style="width: 20px; height: 20px; margin-right: 2px"> Sign in with Google</a>
        </div> 
        <p class="mt-2 text-center"><img src="{% static 'LandingPage/img/line2.png' %}">&nbsp;<b>or</b>&nbsp;<img src="{% static 'LandingPage/img/line2.png' %}"></p>
        <form style="padding-right: 80px; padding-left: 80px;">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address"> 
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" data-toggle="password" placeholder="Password" id="password-field"> 
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p style="font-size: 8.5px">By clicking Sign In, you agree to our <a href="/hpme">Terms of Use</a> and our <a href="/home">Privacy Policy.</a></p>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="font-size: 12px">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section-a">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding: 0 !important;">
                <img src="{% static 'LandingPage/img/LandingSectionre.png' %}" class="figure-img img-fluid" width="800px" height="550px">
            </div>
            <br>
            <div class="col-md-6 col-sm-12 text-center" style="margin-top: 4rem;" id="section-a-learn">
                <h2><span style="color:blue">Live</span> Classes & <span style="color:blue">Recorded</span> Videos </h2>
                <h3>for your Careerhood</h3>
                <h4>upSkill today for a better Career tomorrow.</h4>
                <button class="btn mb-4 mt-3" style="color:white;background:#2F55D4;">Explore Now  <i class="fas fa-chevron-circle-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <center><h2 style="color:black;font-family:'Raleway'"> Explore what excites you! </h2></center>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" >
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -5px;border:2px solid black">
				<span><i class="fa fa-bars" aria-hidden="true" style="color: black;font-size: 18px;"> </i></span>

			</button>
			<div class="navbar collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav" >
					<li class="nav-item active" >
						<a class="nav-link link" style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat1' onclick='change(this.id);'style="font-size:18px!important">Data Science<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link link" style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat2' onclick='change(this.id);'style="font-size:18px!important">Buisness</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link" style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat3' onclick='change(this.id);'style="font-size:18px!important">Marketing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link " style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat4' onclick='change(this.id);' style="font-size:18px!important">Web Designing</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link link" style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat5' onclick='change(this.id);'style="font-size:18px!important">Development</a>
					</li>
					<li class="nav-item">
						<a class=" nav-link link " style="font-size: 19px; text-align: center; margin-left: 55px;" href='javascript:void();' id='cat6' onclick='change(this.id);' style="font-size:18px!important">Photography</a>
					</li>
				</ul>
			</div>
		</nav>

        <div class='container-fluid'>
            <div id='inam' class="carousel slide" data-ride='carousel'>
                <ol class='carousel-indicators'>
                    <li data-target='#carouselExampleIndicators' data-slide-to='0' class='active'></li>
                    <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
                    <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
                </ol>
                <div id='catt1'>
                    <div class='carousel-inner'>
                        <div class='carousel-item active'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'><img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science1 </h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px;">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science2</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science3</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science4</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science5</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science6</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science7</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3'>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science8</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='carousel-item'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card card1 mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science9</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science10</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science11</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science12</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science13</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science14</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science15</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 '>
                                        <div class='card mt-4'>
                                            <img class='card-img-top' src="{% static 'LandingPage/img/digit.jpg' %}" alt='Card image cap'>
                                            <div class='card-body'>
                                                <h5>Data Science16</h5>
                                                <p style="float: left">Joe Marini</p><br><br>
                                                <p style="font-size: 15px;margin-left: -21px;margin-top:-13px">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;3h 17min&nbsp;&#8226;<b>1,235,037</b>&nbsp;Views</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class='carousel-control-prev' href='#inam' data-slide='prev'> <span class='carousel-control-prev-icon'></span></a><a class='carousel-control-next' href='#inam' data-slide='next'><span class='carousel-control-next-icon'></span></a>
            </div>
        </div>
        <br>


        <div class="container-fluid mt-4">
            <center>
                <h2 style="color:black;font-family:'Raleway'"> Achieve your goals with tDigital </h2>
            </center>
            <br>
            <div class="row" id="achieve">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <center><img src="{% static 'LandingPage/img/learnwith.png' %}" style="width:55px;height:55px"></center>
                    <br>
                    <center>
                        <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Learn with ease</h4>
                    </center>
                    <p style="color:#696969;font-weight:bold;padding:15px;text-align: center;font-size: 15px;font-family:'Raleway';">
                    Self-paced learning-whenever and whatever you want to learn.</p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <center><img src="{% static "LandingPage/img/live.png" %}" style="width:55px;height:55px"></center>
                    <br>
                    <center>
                        <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Explore our live classes</h4>
                    </center>
                    <p style="color:#696969;font-weight:bold;padding:5px; text-align:center;font-size: 15px;font-family:'Raleway';">
                    It's one-stop solution for all your needs by industry experts. </p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <center><img src="{% static 'LandingPage/img/internshipicon.png' %}" style="width:55px;height:55px"></center>
                    <br>
                    <center>
                        <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Get an internship</h4>
                    </center>
                    <p style="color:#696969;font-weight:bold;padding:15px;
    text-align:center;
    font-size: 15px;font-family:'Raleway';">We also offer internship opportunities in selected ares.</p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <center><img src="{% static 'LandingPage/img/standout.png' %}" style="width:55px;height:55px"></center>
                    <br>
                    <center>
                        <h4 style="color:#696969;font-family:'Raleway';">Stand out of the crowd</h4>
                    </center>
                    <p style="color:#696969;font-family:'Raleway';font-weight:bold;padding:15px;
    text-align:center;
    font-size: 15px;">Get ready for a career with more confidence.</p>
                </div>
            </div>

            <br>
            <section id="testimonials">
                <center>
                    <h2 style="color:black;font-family:'Raleway'"> Where our alumni work? </h2>
                </center>
            <br>

                <div class="row" style="margin-left: 10px;">
                    <div class="col-md-12" style="background-color:white">
                        <div class='container-fluid'>
                            <div id='inam' class="carousel slide" data-ride='carousel'>
                                <ol class='carousel-indicators'>
                                    <li data-target='#carouselExampleIndicators' data-slide-to='0' class='active'></li>
                                    <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
                                    <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
                                </ol>
                                <div class='carousel-inner'>
                                    <div class='carousel-item active'>
                                        <div class='container'>
                                            <div class='row text-center'>
                                                <div class='col-md-4 col-sm-12 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">JP Morgan</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">Accenture</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Warlord</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Full Stack Web Developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">MicroSoft</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='carousel-item'>
                                        <div class='container'>
                                            <div class='row text-center'>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">JP Morgan</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">Accenture</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">Accenture</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='carousel-item'>
                                        <div class='container'>
                                            <div class='row text-center'>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">JP Morgan</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">Accenture</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border" style="width: 17em; height: 27em">
                                                        <img class="card-img-top" src="{% static 'LandingPage/img/sa.png' %}" alt="Card image cap" height="250px">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                                            <p class="card-text" style="background:#F5F5F5;padding:30px;margin:15px 15px">Accenture</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br> <br>
            </section>
        </div>
    </div>
    <br> <br>

    <div class="container-fluid" style="background-color:  #959595; max-height: 80%;">
        <div class="container1">
            <br>
            <h1 class="text-center " style="color: #bdbdbd;font-size:2.5em;"><strong>Our Industry Partners</strong></h1>
            <center>
            <div style="max-width: 100%">
                <p class="text-center text-justify mt-2" style="font-size: 1.2rem; color: black;">Our facilitators are industry experts in their respective category excited to share their experience,wisdom and
                    experienced tool with you. </p>
                <hr style="background-color:#00ff2be0;height:2px;width:60px;">
            </div>
        </div>

    
    <div class="slider-area">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class='carousel-inner'>
                    <div class='carousel-item active'>
                        <div class='container'>
                            <div class='row text-center'>
                                <div class='col-md-4 col-sm-12 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Warlord</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Full Stack Web Developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='carousel-item'>
                        <div class='container'>
                            <div class='row text-center'>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='carousel-item'>
                        <div class='container'>
                            <div class='row text-center'>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Arunima M</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Lead Consultant,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                    <div class="card border">
                                        <img class="card-img-top" src="{% static 'LandingPage/img/liza3.jpg' %}" alt="Card image cap" height="250px">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:red;">Dhruv Goswami</h5>
                                            <h6 style="color:#262626;font-size: 0.75em;">Professional product developer,IT</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div> 
</div> 

<!-- Footer -->
<div style="margin-top: 5em;"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <center><img src="{% static 'LandingPage/img/customer.png' %}"  class="img-fluid" style="width:350px;height:350px"></center>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-6 mt-4" id="request" style="background-size:1400px;padding-top:30px;padding-left:30px">
                <div class="row">
                    <div class="col-12 text-left" id="query_request">
                        <h2>Request for a free <br> Online Councelling</h2>
                    </div>
                    <div class="col-12" id="query">
                        <form action="" method="post" onSubmit="return check_ephone(this)" style="width: 20em">
                            {% csrf_token %}
                                <input type="email" class="form-control" name="youremail" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <div class="input-group mb-3 mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                <input type="tel" class="form-control" name="yourphone" placeholder="PhoneNumber" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="margin-bottom: 5em;"></div>               
<!-- Footer -->
<footer class="page-footer font-small pt-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left pb-3" style="background: transparent;">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <figure class="figure" style="margin: 11px;">
                    <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;width: 60px; height: 40px;">
                    <figcaption class="figure-caption text-center">LearnOpad</figcaption>
                </figure>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <p>
                <a href="#!">About Us</a>
                </p>
                <p>
                <a href="#!">Career</a>
                </p>
                <p>
                <a href="#!">Contact Us</a>
                </p>
                <p>
                <a href="#!">Terms/Services</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto" id="footer-left">
                <br>
                <p>
                <a href="#!">Learners</a>
                </p>
                <p>
                <a href="{% url 'facilitator' %}">Facilitators</a>
                </p>
                <p>
                <a href="#!">Campus</a>
                </p>
                <p>
                <a href="#!">Corporates</a>
                </p>
            </div>
        
            <hr class="w-100 clearfix d-md-none">
    
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 social" id="footer-left">
            <h6 class="text-uppercase font-weight-bold">Our App</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 20px;">
            <p>
            <a href="https://www.apple.com/ios/app-store/"><i class="fab fa-apple mr-1" style="font-size: 20px;"></i> IOS Store</a>
            </p>
            <p>
            <a href="https://play.google.com/store"><img class="mr-1" src="{% static 'LandingPage/img/play-store.svg' %}" width="20px" height="20px"> Andriod Store</a>
            </p>
        </div>

    </div>
       

        <hr class="mb-4 mt-0 d-inline-block mx-auto text-sm-lef" style="width: 100%; height: 1px; background-color: #3db166;">

        <div class="row d-flex align-items-center">

        <div class="col-md-7 col-lg-8">            
            <p class="text-center text-md-left text-sm-left">© 2020 Copyright:
            <a href="#" style="font-size:11px">
                <strong> TMHM Consulting Services Pvt.Ltd</strong>
            </a>
            </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right text-sm-left" id="social">
    
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-instagram"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-wordpress-simple"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-youtube"></i>
                </a>
                </li>
            </ul>
            </div>

        </div>

        </div>
    </div>

</footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/da956b6924.js" crossorigin="anonymous"></script>
    <script src="{% static '/LandingPage/js/owl.carousel.js' %}"></script>

    <script>

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

        function check_ephone(phno, email){
            var regex = /^[0-9]{10}$/;
            var regexe_email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)){
                return true;
                } else {
                    if (!(regex.test(phno.yourphone.value)) ) {
                        alert("This is not a valid phone number");
                        return false;
                    }
                    if (!(regex.test(email.youreamil.value)) ) {
                        alert("This is not a valid email id");
                        return false;
                    }
                    if (!(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)) ) {
                        alert("This is not a valid phone number and email id");
                        return false;
                    } 
            }
        }
    </script>
</body>
</html>
